*{
    box-sizing: border-box;
}
/* body{
    
    background: url("../img/background.jpg") center fixed;
    background-size: cover;

} */

#heading{
    text-align: center;
    /* background-color:blue; */
    color: rgb(15, 27, 189);
    font-family: 'Playfair Display', serif;
}

.wrapper{

    max-width: 60%;
    background-color: rgba(183, 199, 213,0.8);
    font-weight: bold;
    margin:100px auto;
    border-radius: 10px;
    overflow: auto;
}