body{
    background: url("../img/background.jpg") center fixed;
}
.search{
    max-width: 50%;
    margin: auto;
}
table{
    background-color: rgb(231, 228, 250);
}
.opt{
    float: right;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
}